[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
nltk = "*"
scikit-learn = "*"
rank-bm25 = "*"
rouge-score = "*"
datasets = "*"
langchain = "*"
pinecone-client = "*"
langchain-core = "*"
rogue = "*"
sentence-transformers = "*"
langchain-groq = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.0"
